.transaction-list {
  background: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.transaction-item button {
  margin-left: 10px;
  background: crimson;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
}