.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111827;
}

.login-form {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  padding: 12px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}