.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
}

.register-form {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-form button {
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
}